<div class="background">
    <app-nav-bar />
    <div class="nombre">
        <h1>Hola, Alvaro...</h1>
        <span class="remaining-space"></span>
        <img src="../../../assets/mujer.png" alt="" class="img">  
    </div>
    <div class="Overview">
        <div class="icono back-grey">
            <i class="fa-solid fa-chart-line"></i>
            <div class="text">
                <p>1200</p>
                <p>Facturass</p>
            </div>
        </div>
        <div>
            <div class="icono back-green">
                <i class="fa-solid fa-arrow-up-wide-short"></i>
                <div class="text">
                    <p>20 cm</p>
                    <p>Ahorrado</p>
                </div>
            </div>
        </div>
    </div>
    <div class="info">
        <div class="item">
            <p class="title">Nombre:</p>
            <span class="remaining-space"></span>
            <p class="itemInfo">Alvaro Ernesto Jimenez Jacome</p>
            <span class="remaining-space"></span>
            <a href="" class="edit">Edit</a>
        </div>
        <div class="item">
            <p class="title">Documento:</p>
            <span class="remaining-space"></span>
            <p class="itemInfo">CC 10029458892</p>
            <span class="remaining-space"></span>
            <a href="" class="edit">Edit</a>
        </div>
        <div class="item">
            <p class="title">Edad:</p>
            <span class="remaining-space"></span>
            <p class="itemInfo">23 años</p>
            <span class="remaining-space"></span>
            <a href="" class="edit">Edit</a>
        </div>
        <div class="item">
            <p class="title">Correo:</p>
            <span class="remaining-space"></span>
            <p class="itemInfo">alvarojimenez&#64;gmail.com</p>
            <span class="remaining-space"></span>
            <a href="" class="edit">Edit</a>
        </div>
        <div class="item end">
            <p class="title">Celular:</p>
            <span class="remaining-space"></span>
            <p class="itemInfo">32134523423</p>
            <span class="remaining-space"></span>
            <a href="" class="edit">Edit</a>
        </div>
    </div>
      

</div>
